# APP
APP_NAME=ez-php-search
APP_ENV=local
APP_DEBUG=true

# Search driver: null | meilisearch | elasticsearch
SEARCH_DRIVER=meilisearch

# Meilisearch
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=
MEILISEARCH_PORT=7700

# Elasticsearch (alternative driver)
# SEARCH_DRIVER=elasticsearch
# ELASTICSEARCH_HOST=http://elasticsearch:9200
# ELASTICSEARCH_USER=
# ELASTICSEARCH_PASSWORD=
